<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Our Advertising Partners</h1>

      <ul class="list-group">
        <% advertisements.forEach((advertisements) => { %>
          <li class="list-group-item">
            <a href="/advertisements/<%= advertisements.id %>"> <%= advertisements.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>